@page
@model ecommerce.Pages.Admin.Tuto.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tuto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuto.TitleTuto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tuto.TitleTuto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuto.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tuto.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tuto.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tuto.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tuto.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
