@page
@model ecommerce.Pages.Client.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
<link rel="stylesheet" href="~/css/profile.css" />

<h1>Profil User</h1>
<h2>Bienvenue, @Model.UserName @Model.Firstname !</h2>

<div class="info">
    <div>
        <p>Prénom : @Model.Firstname</p>
        <p>Âge : @Model.Age</p>
        <p>Adresse : @Model.Adresse</p>
        <p>Email : @Model.Email</p>
        <p>Phone : @Model.Phone</p>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(Model.PathPhoto))
        {
            <img src="@Model.PathPhoto" alt="Photo de profil" width="150" />
        }
    </div>

</div>


<br />


<a asp-page="/Index">Return home</a>