@page
@model ecommerce.Pages.Client.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h2>Profil</h2>
<p>Nom : @Model.UserName</p>
<p>Prénom : @Model.Firstname</p>
<p>Âge : @Model.Age</p>
<p>Adresse : @Model.Adresse</p>
<img src="@Model.PathPhoto" alt="Photo de profil" width="120" />

<br />


<a asp-page="/Index">Return home</a>