@page
@model ecommerce.Pages.PiecesAutoModel
@{
    ViewData["Title"] = "Piece automobile";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var token = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<input type="hidden" name="__RequestVerificationToken" value="@token" />
<link rel="stylesheet" href="~/css/piecesAuto.css" />

<h1>Piece automobile</h1>
<div class="row">
    @foreach (var produit in Model.ProduitsListe)
    {
        <div class="col-md-4 mb-4 bodyCard">
            <div class="piece">
                <img src="@produit.ImagePath"  alt="@produit.Name">
                <div class="card-body ">
                    <h5 class="card-title">@produit.Name</h5>
                    <p class="card-text">@produit.Description</p>
                    <p class="card-text">Le prix: @produit.Price</p>
                    <p class="card-text">Le stock: @produit.Stock</p>
                    <button onclick="AddCart(@produit.Id)" class="btn btn-primary">Ajouter au panier</button>
                </div>
            </div>
        </div>
    }
</div>

    <script src="~/js/panier.js"></script>
