@page
@model ecommerce.Pages.Admin.Rdvs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rdv</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rdv.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rdv.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rdv.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rdv.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rdv.Registrations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rdv.Registrations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rdv.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rdv.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rdv.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
